<h3 style="color:whitesmoke">Edit Shopping List </h3>

<%= render 'form' %>
</br>
<%= link_to 'Show', @todo_list %> |

<%= link_to todo_lists_path do %>
    <font size="6"><i class="fa fa-arrow-circle-left"></i> </font>
<%end%>
